@use "../../../Styles/variables.scss" as *;

h5 {
    font-size: 1rem;
    font-weight: 400;
    background-color: $brown;
    color: $light-text;
    padding: .3rem 1rem;
    border-radius: 0 10px 10px 0;
}