// Basic Colors

$beige: #F2E6D8;
$brown: #5A4A3B;
$light-brown: #A67152;
$dark-brown: #25241F;

// Background variables

$hero-background: $beige;
$btn-background: $brown;
$dark-background: $dark-brown;

// Font colors
$light-text: $beige;
$brown-text: $light-brown;
$dark-text: $brown;
$darker-text: $dark-brown;

// Encoded colors
$brown-text-encoded: "%23A67152";