@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}