main {
    position: relative;
    overflow: hidden;
}

.bg-home {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 63vh;

    background-image: url("../../assets/images/home/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
    opacity: 0.6;
}
