#service-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0; // cria contexto

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 62vh;

        background-image: url("../../assets/images/home/bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        opacity: 0.6;
        z-index: -1;  
    }
}


#gallery-bg {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0; // cria contexto

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;

        width: 100%;
        height: 60vh;

        background-image: url("../../assets/images/home/bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        opacity: 0.6;
        z-index: -1;  
    }
}