@use "../../Styles/variables" as *;
@use "../../Styles/breakpoints.scss" as *;

/* NAVBAR TRANSPARENTE */
#navbar {
    background: transparent;    
    width: 100%;
    z-index: 1000;
    @include down($lg) {
        position: fixed;
    }

    button {
        color: $brown-text;
    }
}

/* REMOVE FUNDO PADRÃO */
.navbar {
    background: transparent !important;
}

/* BOTÃO */
.navbar-toggler {
    color: $brown-text;
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='#{$brown-text-encoded}' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ANIMAÇÃO MOBILE */
.navbar-collapse-animated {
    overflow: hidden;
    transition:
        max-height 0.35s ease,
        opacity 0.25s ease,
        transform 0.25s ease;
}

/* ESTADO FECHADO (MOBILE) */
@media (max-width: 991px) {
    .navbar-collapse-animated {
        position: absolute;
        top: 100%;
        left: 15;
        width: 30vw;
        z-index: 999;
        max-height: 0;
        opacity: 0;
        transform: translateY(-10px);
    }

    .navbar-collapse-animated.show {
        padding-left: 1rem;
        max-height: 400px;
        opacity: 1;
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.35); // ajuste se quiser mais claro/escuro
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        border-radius: 0 15px 15px 0;
        //padding: 1rem 0;
    }
}
