@use "../../Styles/variables" as *;

#navbar {
    z-index: 3;
    background-color: transparent;
    padding-top: 1.5rem;
    button {
        color: $brown-text;
        &:hover {
            color: $dark-text;
        }
    }
}