@use "../../../Styles/breakpoints.scss" as *;
@use "../../../Styles/variables.scss";
@use "../../../Styles/global.scss";

#home {
    .hero-title-present {
        margin-bottom: -1.5rem;
    }

    .hero-text {
        font-size: 1.35rem;
        margin-top: -1rem;
    }

    .hero-btn {
        .icon {
            margin-right: 1rem;
        }
    }

    .hero-img {
        width: 70%;
    }

    @include up($lg) {


        .hero-img {
            margin-top: 2rem;
            margin-left: 8rem;
            width: 40%;
        }

        .hero-title-present {
            margin-bottom: -2rem;
        }
        .hero-title:first-of-type {
            margin-bottom: -.8rem;
        }

        .hero-title:last-of-type {
            margin-bottom: -.8rem;
        }

        .hero-text {
            font-size: 1.15rem;
        }

        .hero-btn {
            width: fit-content;
        }
    }
}