@use "../../../Styles/breakpoints.scss" as *;
@use "../../../Styles/variables.scss" as *;
@use "../../../Styles/global.scss" as *;

.background {
    display: block;
    overflow: hidden;
    z-index: -1;
    background-color: $hero-background;
    margin-bottom: -13.5rem;
    img {
        opacity: 50%;
        width: cover;
        height: 60vh;
    }

    @include up($lg) {
        margin-top: -5rem;
        margin-bottom: -25rem;

        img {
            width: 100%;
            height: 70vh;
        }
    }
}


#home {
    z-index: 2;
    background-color: $hero-background;
    color: $dark-brown;
    padding-bottom: 3rem;

    .hero-title-present {
        margin-bottom: -1.5rem;
    }

    .nina {
        color: $dark-text;
    }

    .hero-text {
        font-size: 1.35rem;
        margin-top: -1rem;
        padding: 0 2rem;
    }

    .hero-btn {
        .icon {
            margin-right: .5rem;
        }
    }

    .hero-img {
        width: 70%;
    }

    @include up($lg) {

        .hero-card {
            padding-top: 3rem;
            padding-left: 8rem;
        }

        .hero-btn {
            font-size: 1rem;
            padding: .2rem 2rem;
        }

        .hero-img {
            margin-top: 1rem;
            margin-left: 1rem;
            width: 45%;
            z-index: 3;
        }

        .hero-title-present {
            margin-bottom: -1.2rem;
        }
        .hero-title:first-of-type {
            margin-bottom: -.5rem;
        }

        .hero-title:first-of-type, .hero-title:nth-of-type(2) {
            font-size: 2rem;
        }

        .hero-title:last-of-type {
            margin-bottom: -.6rem;
            span {
                font-weight: 700;
                font-size: 6rem;
            }
        }

        .hero-text {
            font-size: 1.1rem;
            padding: 0;
        }

        .hero-btn {
            width: fit-content;
        }
    }
}