@use "../../../Styles/breakpoints.scss" as *;
@use "../../../Styles/variables.scss" as *;
@use "../../../Styles/global.scss" as *;

#contact {
    background-color: $hero-background;
    margin: 0;
    overflow: hidden;

    .container-lg {
        overflow: hidden;
        @include up($lg) {
            margin-left: 20rem;
        }
    }

    .contact-title {
        color: $dark-text;
        font-size: 2rem;
    }

    .contact-paragraph {
        color: $darker-text;
        padding: 1rem 5rem;
        @include up($lg) {
            padding: 0 13rem 1rem 0;
        }
    }

    .contact-img {
        width: 60%;
        margin-bottom: 2rem;
        @include up($lg) {
            margin-left: -20rem;
            width: 70%;
        }
    }

    .contact-link {
        padding: 0 .5rem;
        font-size: 2rem;
        color: $light-text;
        background-color: $dark-background;
        border-radius: 10px;
        &:hover {
            background-color: $btn-background;
        }
        @include up($lg) {
            margin-top: 4rem;
            font-size: 1.5rem;
            border-radius: 7px;
        }
    }

    .contact-info {
        margin-bottom: 4rem;
        a {
            font-size: 1.5rem;
            color: $dark-text;
            text-decoration: none;
            @include up($lg) {
                font-size: .9rem;
            }
        }
        @include up($lg) {
            margin-top: 4rem;
        }
    }
}